<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.example.foodappmobile"
      android:versionCode="1"
      android:versionName="1.0">
      <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".FoodAppMobile"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".About"
        	android:label="@string/about_title" 
			android:theme="@android:style/Theme.Dialog" />
		<activity android:name=".Login"
        	android:label="@string/login_label" />
        <activity android:name=".LoginFailed"
        	android:label="@string/loginfailed" 
			android:theme="@android:style/Theme.Dialog" />
		<activity android:name=".PostErr"
        	android:label="@string/posterr" 
			android:theme="@android:style/Theme.Dialog" />
		<activity android:name=".Select"
        	android:label="@string/select_label" />
        <activity android:name=".ProdList"
        	android:label="@string/prodlist_title" />
        <activity android:name=".Order"
        	android:label="@string/order_title" />
    </application>
    <uses-sdk android:minSdkVersion="8" />

</manifest> 